{% extends "base.html" %}

{% block script_gui %}

<div class="bgcolor-blue jumbotron">
	<h1>About ScienceFrontend</h1>
	<p><strong>ScienceFrontend</strong> is an open-source project meant to ease the process of using scientific scripts. The frontend provides a web-accessible, dependency-free GUI and CLI for performing quick computations.
</p>
</div>

<div class="bgcolor-darkgrey jumbotron">
	<h1>Other Info</h1>
	<p><strong>ScienceFrontend</strong> is currently being written by Edward Kim. Development of <strong>ScienceFrontend</strong> is supported by the Canadian Light Source. As such, scientific tasks related to x-ray spectroscopy are currently the main focus for <strong>ScienceFrontend</strong>'s capabilities.</p>
</div>
{% endblock %}