{% include "head.html" %}
<body>
	<div class="navcontainer">
		<ul class="nav nav-justified navbar-fixed-top bgcolor-black">
			<li><a href="/"><strong>ScienceFrontend</strong></a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/scripts/">Scripts</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</div>

	{%block outside_block %}
	{%endblock%}

	<div class="container">
		<div class="row">
			<div class="col-small-span-12 gui">

				{% block script_gui %}{% endblock %}

			</div>
		</div>
		
		<!-- Disabling cmd shell for now... 
		<div class="row">
			<div class="col-small-span-12 bgcolor-darkblue img-rounded">
			<h3>Command Shell</h3>
			<textarea class="bgcolor-darkgrey shell-out img-rounded" readonly>Command Shell Interface (type 'help' for help)</textarea>
			<input type="text" class="shell-in" placeholder="Type commands...">
			<br>
			</div>
		</div>
		-->

		<hr>

		<div class="footer">
			<div class="row">
				<div class="col-small-span-12 text-right">
					<h3>Created by <a href="http://www.edwardkim.name">Edward Kim</a></h3>
					<p>[<a href="https://github.com/eddotman/science-frontend">Github</a>] 
					[<a href="https://twitter.com/eddotman">Twitter</a>]</p>
				</div>
			</div>
		</div>
		<br>
	</div>

{% include "foot.html" %}
</body>
</html>