{% include "head.html" %}
<body>
	<div class="navcontainer">
		<ul class="nav nav-justified navbar-fixed-top bgcolor-red">
			<li><a href="/"><strong>ScienceFrontend</strong></a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/scripts/">Scripts</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</div>
	<div class="container">
		
		<div class="row">
			<div class = "col-small-span-12">
				<p>
					<strong>ScienceFrontend</strong> provides a <em>unified front-end experience</em> for various scientific scripts. This webapp is currently <strong>under development</strong>. You can check out the progress <a href="https://gist.github.com/eddotman/5426562">here</a>.
				</p>
				
				<hr>
			</div>
		</div>
		<div class="row bgcolor-lightgrey img-rounded">
			<div class="col-small-span-8">
				<div class="search">
					<input type="text" placeholder="Search scripts...">
				</div>
			</div>
			<div class="col-small-span-4 curr-script">
				<pre>Current: <strong><a href="{{script_link}}">{{script_name}}</a></strong></pre>
			</div>
		</div>

		<div class="row">
			<div class="col-small-span-12">
				<div class="gui">
					{% block script_gui %}{% endblock %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-small-span-12 bgcolor-darkblue img-rounded">
			<h3>Command Shell</h3>
			<textarea class="bgcolor-darkgrey shell-out img-rounded" readonly>Command Shell Interface (type 'help' for help)</textarea>
			<input type="text" class="shell-in" placeholder="Type commands...">
			<br>
			</div>
		</div>

		<hr>

		<div class="footer">
			<div class="row">
				<div class="col-small-span-4">
					<a href="https://github.com/eddotman/science-frontend"><img style="background:#4183C4" src="{{STATIC_URL}}img/github.png"></a>
					<a href="https://twitter.com/eddotman"><img style="background:#00ACED" src="{{STATIC_URL}}img/twitter.png"></a>
				</div>
				
				<div class="col-small-span-8">
					<h4 class="pull-right">Created by <a href="http://www.edwardkim.name">Edward Kim</a></h4>
				</div>
			</div>
		</div>
		<br>
	</div>
</body>
</html>