{% extends "base.html" %}
{% block outside_block %}
	{% include "script_head.html" %}
{% endblock %}

{% block script_gui %}
	<h2>Chemical Data:</h2>

	<form id="inputform">{% csrf_token %}
		<p><input id="chem" type="text" placeholder="Chemical formula (e.g. NaCl, Ni(OH)2, Na2HAsO4+7H2O)"></p>
		<p><input id="conc" type="text" placeholder="Molar concentration (e.g. 0.5)"></p>
		<p><input id="vol" type="text" placeholder="Total volume of solution in litres (e.g. 1.0)"></p>
		<br>
		<div class="text-center">
		<button id="clear" class="btn btn-primary submit-btn">Reset</button>
		<button id="submit" class="btn btn-success submit-btn">Compute</button>
		</div>
	</form>

	<div id="result">
	</div>

	<div id="readme">
		<h2>README:</h2>
		<p>
			This script automates the calculation for creating solutions from dry chemicals (e.g. powders) of a certain molarity. For example, if you wanted to create a 1M solution of chemical X, you would want to know how many grams of chemical X you should measure out. While this is a trivial calculation, it can sometimes be tedious to compute this by hand. This is exactly the problem addressed by this script.
		</p>
		<h2>Example Input/Output:</h2>
		<h3>INPUT</h3>
		<ol>
			<li>Formula: NaCl</li>
			<li>Concentration: 1.0</li>
			<li>Total Volume: 1.0</li>
		</ol>

		<h3>OUTPUT</h3>
		<ol>
			<li>Molecular Mass: 58.44 g/mol</li>
			<li>Mass Needed: 58.44 g</li>
			<li>Total Volume: 1.0 L</li>
		</ol>
	</div>
{% endblock %}