<!-- Javascript -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"> </script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"> </script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"> </script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.file-input.js"> </script>
<script type="text/javascript">
	$(document).ready(function(){$('input[type=file]').bootstrapFileInput();});
</script>
{% if js_link %}
<script type="text/javascript" src="{{STATIC_URL}}script/js/{{js_link}}"></script>
{% endif %}