{% extends "base.html" %}

{% block script_gui %}
<h1>function_plot.py</h1>
<pre><strong>function_plot.py</strong> will convert an uploaded data file (containing two columns of x and y data) into a high-quality graph (PNG + PDF).</pre>

<hr>

<h2>Please upload a data file</h2>
<p>(Format: two columns of floating-point numbers; first row should be [x,y] labels.)</p>

<form method="post" enctype="multipart/form-data" id="fileform">{% csrf_token %}
	<p><input name="file" type="file" title="Upload a data file..." ></p>
	<p><input class="btn btn-success" type="submit" value="Submit" ></p>
</form>

<hr>

<div id="result">
<img id="result_img">
</div>

<hr>

<h3>Example: Data file format</h3>
<pre>
x                 y
1                 1.0
2                 4.0
3                 9.0
.                 .
.                 .
.                 .
</pre>
{% endblock %}