<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
    <title>ScienceFrontend</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ScienceFrontend provides a unified graphical user interface for scientific scripts.">
    <meta name="author" content="Edward Kim">

    <!-- CSS files -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">

	<!-- Javascript -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"> </script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"> </script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"> </script>
	{% if js_link %}
	<script type="text/javascript" src="{{STATIC_URL}}script/js/{{js_link}}"></script>
	{% endif %}
	


</head>