{% extends "base.html" %}

{% block outside_block %}
<div class="bgcolor-red jumbotron noround text-center">
	<h1>Welcome to ScienceFrontend</h1>
	<p><strong>ScienceFrontend</strong> allows for simple, unified interaction with scientific scripts.</p>
</div>
{% endblock %}

{% block script_gui %}


<div class="bgcolor-green jumbotron">
	<img class="pull-left padded-right" src="/static/img/internet.svg">
	<h2>Scripting without dependencies!</h2>
	<p><strong>ScienceFrontend</strong> gives users the freedom to compute from any web browser.</p>
</div>

<div class="bgcolor-blue jumbotron">
	<img class="pull-left padded-right" src="/static/img/code.svg">
	<h2>No more coding!</h2>
	<p><strong>ScienceFrontend</strong> lets you do science without needing the command line.</p>
</div>

<div class="bgcolor-grey jumbotron">
	<img class="pull-left padded-right" src="/static/img/earth.svg">
	<h2>Everything is open-source!</h2>
	<p><strong>ScienceFrontend</strong> only uses scripts that are 100% open-source.</p>
</div>
{% endblock %}