{% extends "base.html" %}

{% block outside_block %}
<div class="text-white jumbotron noround text-center hugepad main-title">
	<h1>Welcome to ScienceFrontend</h1>
	<h3>Simple, unified interaction with scientific scripts</h3>
	<a href="/scripts/"><button class="btn btn-success pad-btn">Try it out for free</button></a>
</div>
{% endblock %}

{% block script_gui %}

<div class="row">
	
		<div class="col-lg-3 text-center">
			<img  src="/static/img/internet.svg">
			<h2>No dependencies</h2>
			<p>Run everything from the web</p>
		
	</div>
	
		<div class="col-lg-3 text-center">
			<img  src="/static/img/code.svg">
			<h2>No coding</h2>
			<p>No command-line needed</p>
		
	</div>
	
		<div class="col-lg-3 text-center">
			<img  src="/static/img/lock.svg">
			<h2>Secure data</h2>
			<p>No data is ever stored</p>
		
	</div>

		<div class="col-lg-3 text-center">
			<img  src="/static/img/earth.svg">
			<h2>Open-source</h2>
			<p>Anyone can contribute</p>
		</div>
	
</div>

{% endblock %}