<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
    <title>ScienceFrontend</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ScienceFrontend provides a unified graphical user interface for scientific scripts.">
    <meta name="author" content="Edward Kim">
	{% load staticfiles %}
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">

</head>
<body>
	<div class="container">
	<div class="row">
		<ul class="nav navbar nav-justified navbar-fixed-top bgcolor-red">
			<li><a href="/"><strong>ScienceFrontend</strong></a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/scripts/">Scripts</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</div>
		<div class="row">
			<div>
				<p>
					<strong>ScienceFrontend</strong> provides a <em>unified front-end experience</em> for various scientific scripts. This webapp is currently <strong>under development</strong>. You can check out the progress <a href="https://gist.github.com/eddotman/5426562">here</a>.
				</p>
				
				<hr>
			</div>
		</div>
		<div class="row bgcolor-lightgrey img-rounded">
			<div class="col-small-span-8">
				<div class="search">
					<input type="text" value="Search scripts...">
				</div>
			</div>
			<div class="col-small-span-4 curr-script">
				<pre>Current: <strong><a href="{{script_link}}">{{script_name}}</a></strong></pre>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-small-span-12">
				<div class="panel panel-primary gui">
					{{script_gui | safe}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-small-span-12 bgcolor-darkblue img-rounded">
			<h3>Command Shell</h3>
			<textarea class="bgcolor-darkgrey shell-out img-rounded" readonly>Command Shell Interface (type 'help' for help)</textarea>
			<input type="text" class="shell-in" value="Type commands...">
			<br>
			</div>
		</div>

		<hr>

		<div class="footer">
			<div class="row">
				<div class="col-small-span-4">
					<a href="https://github.com/eddotman/science-frontend"><img style="background:#4183C4" src="{{STATIC_URL}}img/github.png"></a>
					<a href="https://twitter.com/eddotman"><img style="background:#00ACED" src="{{STATIC_URL}}img/twitter.png"></a>
					<a href="http://www.linkedin.com/in/eddotman"><img style="background:#007FB1" src="{{STATIC_URL}}img/linkedin.png"></a>
				</div>
				
				<div class="col-small-span-8">
					<h4 class="pull-right">Created by <a href="http://www.edwardkim.name">Edward Kim</a></h4>
				</div>
			</div>
		</div>
		<br>
	</div>

	<!-- Javascript -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"> </script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.file-input.js"> </script>

</body>
</html>